#include <os2.h>
#include <os2me.h>
#include "bingowav.h"

RESOURCE RT_RIFF ID_WAVE_1        "1.WAV"
RESOURCE RT_RIFF ID_WAVE_2        "2.WAV"
RESOURCE RT_RIFF ID_WAVE_3        "3.WAV"
RESOURCE RT_RIFF ID_WAVE_4        "4.WAV"
RESOURCE RT_RIFF ID_WAVE_5        "5.WAV"
RESOURCE RT_RIFF ID_WAVE_6        "6.WAV"
RESOURCE RT_RIFF ID_WAVE_7        "7.WAV"
RESOURCE RT_RIFF ID_WAVE_8        "8.WAV"
RESOURCE RT_RIFF ID_WAVE_9        "9.WAV"
RESOURCE RT_RIFF ID_WAVE_10       "10.WAV"
RESOURCE RT_RIFF ID_WAVE_11       "11.WAV"
RESOURCE RT_RIFF ID_WAVE_12       "12.WAV"
RESOURCE RT_RIFF ID_WAVE_13       "13.WAV"
RESOURCE RT_RIFF ID_WAVE_14       "14.WAV"
RESOURCE RT_RIFF ID_WAVE_15       "15.WAV"
RESOURCE RT_RIFF ID_WAVE_16       "16.WAV"
RESOURCE RT_RIFF ID_WAVE_17       "17.WAV"
RESOURCE RT_RIFF ID_WAVE_18       "18.WAV"
RESOURCE RT_RIFF ID_WAVE_19       "19.WAV"
RESOURCE RT_RIFF ID_WAVE_20       "20.WAV"
RESOURCE RT_RIFF ID_WAVE_30       "30.WAV"
RESOURCE RT_RIFF ID_WAVE_40       "40.WAV"
RESOURCE RT_RIFF ID_WAVE_50       "50.WAV"
RESOURCE RT_RIFF ID_WAVE_60       "60.WAV"
RESOURCE RT_RIFF ID_WAVE_70       "70.WAV"
RESOURCE RT_RIFF ID_WAVE_B        "B.WAV"
RESOURCE RT_RIFF ID_WAVE_I        "I.WAV"
RESOURCE RT_RIFF ID_WAVE_N        "N.WAV"
RESOURCE RT_RIFF ID_WAVE_G        "G.WAV"
RESOURCE RT_RIFF ID_WAVE_O        "O.WAV"
RESOURCE RT_RIFF ID_WAVE_BINGO    "BINGO.WAV"
RESOURCE RT_RIFF ID_WAVE_NOBINGO  "NOBINGO.WAV"
RESOURCE RT_RIFF ID_WAVE_NEWCARDS "NEWCARDS.WAV"
RESOURCE RT_RIFF ID_WAVE_NEWGAME  "NEWGAME.WAV"
RESOURCE RT_RIFF ID_WAVE_QUIT     "QUIT.WAV"
RESOURCE RT_RIFF ID_WAVE_ABOUT    "ABOUT.WAV"
RESOURCE RT_RIFF ID_WAVE_THANKYOU "THANKYOU.WAV"
RESOURCE RT_RIFF ID_WAVE_REGISTER "REGISTER.WAV"
RESOURCE RT_RIFF ID_WAVE_TWIP     "TWIP.WAV"
RESOURCE RT_RIFF ID_WAVE_POP      "POP.WAV"
RESOURCE RT_RIFF ID_WAVE_NUMBER   "NUMBER.WAV"
RESOURCE RT_RIFF ID_WAVE_LETTER   "LETTER.WAV"
RESOURCE RT_RIFF ID_WAVE_WAIT     "WAIT.WAV"
RESOURCE RT_RIFF ID_WAVE_CLOSE    "CLOSE.WAV"
RESOURCE RT_RIFF ID_WAVE_APPLAUSE "APPLAUSE.WAV"
RESOURCE RT_RIFF ID_WAVE_BOO      "BOO.WAV"
